<PageTitle Title="Преимущества" />

<ul class="big-font">
    <li>Создание интерактивных пользовательских интерфейсов на C# вместо Javascript</li>
    <li>Совместное использование логики как на клиенте, так и на сервере</li>
    <li>Возможность использования существующей экосистемы .NET</li>
    <li>Высокая производительность благодаря wasm</li>
</ul>