<PageTitle Title="Структура проекта" />

<div class="row">
    <div class="col-6">
        <ul class="big-font">
            <li>Pages</li>
            <li>Shared</li>
            <li>wwwroot</li>
            <li>_Imports.razor</li>
            <li>App.razor</li>
            <li>Program.cs</li>
        </ul>
    </div>
    <div class="col-6">
        <img src="/images/project_template.png" />
    </div>
    
</div>