<PageTitle Title="Blazor WebAssembly" />

<p class="big-font">
    Платформа для создания одностраничных приложений на C#, основанная на технологии WebAssembly.
</p>

<h3>Преимущества:</h3>
<ul class="big-font">
    <li>Создание интерактивных пользовательских интерфейсов на C# вместо Javascript</li>
    <li>Совместное использование логики как на клиенте, так и на сервере</li>
    <li>Возможность использования существующей экосистемы .NET</li>
    <li>Высокая производительность благодаря WASM</li>
</ul>