<PageTitle Title="Компонент. Передача параметров" />

<ul>
    <li>[Parameter]</li>
    <li>[Parameter] RenderFragment ChildContent</li>
    <li>[CascadingParameter]</li>
    <li>Из адресной строки, есди @@page /RouteParemeter/{text} (необязательные параметры не поддерживаются, поэтому нужна @@page /RouteParameter)</li>
    <li>Вызов метода по ссылке на компонент из родительского компонента @@ref</li>
    <li>@@attribute Autorize</li>
    <li>@@page</li>
    <li>MarkupString</li>
</ul>