<PageTitle Title="Внедрение зависимостей" />

<div class="big-font">
    Компоненты могут использовать стандартную в .NET Core реализацию dependency injection с помощью инструкции @@inject или атрибута [Inject]
    По умолчанию зарегистрированы три службы:
    <ul>
        <li>HttpClient</li>
        <li>IJSRuntime</li>
        <li>NavigationManager</li>
    </ul>
</div>