<PageTitle Title="Компонент" />

<div class="big-font">
    <ul>
        <li>Файл с расширением .razor</li>
        <li>Элемент пользовательского интерфейса</li>
        <li>
            Может иметь состояние и поведение в виде C# свойств и методов
            <ul>
                <li>Внутри директивы @@code</li>
                <li>В одноименном C# классе с модификатором partial</li>
                <li>В отдельном C# классе, унаследованном от ComponentBase и наследуемым с помощью @@inherits</li>
            </ul>
        </li>
    </ul>
</div>