<PageTitle Title="Компонент. Использование" />

<ul>
    <li>Использование компонентов как HTML</li>
    <li>Использование свойств и методов в компоненте</li>
    <li>Биндинг</li>
    <li>События</li>
</ul>