<div class="row justify-content-center">
    <div class="col-4 text-center">
        <img src="images/itmh.jpg">
    </div>
    <div class="col-4 text-center">
        <img src="images/blazor.png" style="width: 150px">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h2 class="itmh-color">MEETUP</h2>
    </div>
    <div class="col-4 text-center">
        <h2 class="blazor-color">Blazor WebAssembly</h2>
    </div>
</div>