@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        <h1>@Title</h1>

        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/contents">Оглавление</a></li>
        </ul>

        @Body
    </div>
</div>

@code
{
    private string Title => "ITMH MeetUp";
}